<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".help_classes.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/play_store_512"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/play_store_512"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeathNum"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity android:name=".modes.OnePlayerActivity"></activity>
        <activity android:name=".modes.TwoPlayerActivity"></activity>
        <activity android:name=".modes.SuperGameActivity"></activity>
        <activity android:name=".another_activities.StatistikActivity"></activity>
        <activity android:name=".sreens_lose.LoseScreenOnePlayer"></activity>
        <activity android:name=".modes.SuperGameActivity2"></activity>
        <activity android:name=".modes.SuperGameActivity3"></activity>
        <activity android:name=".modes.SuperGameActivity4"></activity>
        <activity android:name=".modes.SuperGameActivity5"></activity>
        <activity android:name=".sreens_lose.GameOverSuperGame"></activity>
        <activity android:name=".another_activities.RulesActivity"></activity>
        <activity android:name=".modes.TwoPlayer2Activity"></activity>
        <activity android:name=".sreens_lose.GameOverTwoPlayers"></activity>
        <activity android:name=".modes.FiftyFiftyGame"></activity>
        <activity android:name=".sreens_lose.FiftyFiftyGameOver"></activity>
    </application>


</manifest>